body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightblue;
}

.navbar {
    background-color: #06001f;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 10px;
}

.navbar .logo {
    height: 50px;
    margin-right: auto;
}

.navbar .nav-links {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
}

.navbar a:hover {
    background-color: #e0e0e025;
}

.active {
    text-decoration: underline;
    font-weight: bold;
}

.content {
    padding: 20px;
    text-align: center;
}
.main-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.main-button {
    padding: 12px 25px;
    background-color: #03a8a8; 
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    text-align: center;
}

.main-button:hover {
    background-color: #019494ad; 
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.main-button.blue {
    background-color: #2196F3; 
}

.main-button.blue:hover {
    background-color: #0b7dda; 
}

