.timer-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
    flex-wrap: wrap;
}
.timer {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
}
.timer-display {
    font-size: 3rem;
    margin: 10px 0;
    color: #333;
}
.timer-btn {
    background-color: #03a8a8;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s;
}
.timer-btn:hover {
    background-color: #03a8a8;
}
.timer-btn.reset {
    background-color: #011d2e;
}
.timer-btn.reset:hover {
    background-color: #011d2e;
}
h2 {
    color: #333;
}